<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style="color:white;">Beehive Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
        <div style="text-align: center;" >
            <button routerLink="/home/beehives" >Gestisci Arnie</button>
        </div>
       <!-- <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
             <a class="nav-link" (click)="onOpenModal(null, 'add')">Add Beehive <span class="sr-only">(current)</span></a>
          </li>
       </ul> -->
  
       <!-- <form class="form-inline my-2 my-lg-0">
          <input type="search" (ngModelChange)= "searchBeehives(key.value)" #key="ngModel" ngModel
           name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search in beehives..." required>
       </form> -->
    </div>
    
  </nav>
<!-- <div style="text-align: center;">
    <button routerLink="/home/beehives">gestione arnie</button>
</div> -->
